{% extends "layout.html" %}

{% block content %}
  <div class="about-page">
    <h1>About Page</h1>

    <div class="row">
      <div class="col-md-8">
        <div class="project-description">
          <h2>Project Description</h2>
          <p>Add a description of your project here.</p>
          <a class="btn btn-outline-dark" href="https://github.com/OussemaJaouadi/PForm" target="_blank">
            <i class="bi bi-github"></i> GitHub Repository
          </a>
        </div>
      </div>
    </div>
    <br>

    <h2>Team Members</h2>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="team-members">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-decoration-underline"><strong>Oussema Jaouadi</strong></h5>
              <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/oussema-jaouadi-1637ab212/" target="_blank">
                <i class="bi bi-linkedin"></i> LinkedIn
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="team-members">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-decoration-underline"><strong>Ghassen Abida</strong></h5>
              <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/ghassen-abida-8844a6240/" target="_blank">
                <i class="bi bi-linkedin"></i> LinkedIn
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="team-members">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-decoration-underline"><strong>Hassen Bouchhiwa</strong></h5>
              <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/hassen-bouchhiwa-315ab0201/" target="_blank">
                <i class="bi bi-linkedin"></i> LinkedIn
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
